{% extends "post_later/app_base.html" %}
{% load i18n %}
{% block extratitle %}{% translate "Delete account:" %} {{ account.username }} - {% endblock %}
{% block content %}
<h1>{% translate "Are you sure you want to delete this account?" %}</h1>
<p>{% translate "If you proceed this will also delete any pending scheduled posts, threads, or media associated with this account." %}</p>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <a href="{% url 'post_later:account_detail' id=account.id %}">{% translate "Back to account detail" %}</a> <button type="submit">{% translate "Delete" %}</button>
</form>
{% endblock %}
