{% extends "post_later/app_base.html" %}
{% load i18n %}
{% block content %}
<dl>
  <dt>{% translate "Server" %}</dt>
  <dd>{{userauth.instance_client.api_base_url }}</dd>
  <dt>{% translate "Account" %}</dt>
  <dd><img class="account_avatar" src="{{ userauth.mastodonavatar.cached_avatar.url }}" /><a href="{{ userauth.instance_client.api_base_url }}/@{{ userauth.account_username }}">{{ userauth.account_username }}</a></dd>
  <dt>{% translate "Status" %}</dt>
  <dd>{% if userauth.is_ready_post %}<span class="success">{% translate "Connected" %}</span>{% elif userauth.user_oauth_token is not None %}<span class="warning">{% translate "Pending" %}</span>: <a href="{% url 'post_later:mastodon_login' id=userauth.id %}" class="btn primary">{% translate "Login" %}</a>{% else %}<span class="error">{% translate "Disconnected" %}</span>: <a href="{% url 'post_later:mastodon_account_delete' id=userauth.id %}" class="btn error">{% translate "Delete" %}</a>{% endif %}</dd>
</dl>
{% endblock %}
